div, nav, button, input, select {
	border-radius: 0 !important;
}

button, input, select, textarea {
	font-family: 'Oswald', sans-serif;
	font-weight: 400 !important;
	letter-spacing: 0.05em;
}

body {
	padding-bottom: 300px;
	background: url('../img/bgPtrn101.png') fixed;
}

::-webkit-input-placeholder {
	color: #ccc !important;
}
/* Nav Bar */

.navbar {
	margin-bottom: 0;
}
.navbar-brand {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #fff !important;
}

@media (min-width: 768px){
.navbar-form .form-group {
	width: 400px;
}
.navbar-form .form-control{
	width: 100%;
}
}

.navbar-inverse {
	background-color: #1d1d1d;
	border-color: #1d1d1d;
}

.btn-find {
	background-color: #313131;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.btn-find.focus, .btn-find:focus, .btn-find:hover{
	color: #ccc;
}

/* slider area */

#bzns-slider {
	-webkit-box-shadow: 0px -5px 12px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px -5px 12px 0px rgba(0,0,0,0.1);
	box-shadow: 0px -5px 12px 0px rgba(0,0,0,0.1);

	background-color: #262626;
	background-image: url('../img/bgPtrn99.png');
}

.bzns-slide {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 30px;
	color: #fff;
}

.bzns-slide img.bzns-profile{
	width: 190px;
	border: 10px solid #fff;
	-webkit-box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.75);
}

.rev-desc {
	margin-top: 25px;
}

.rev-desc img {
	width: 120px;
	vertical-align: text-bottom;
}

.rev-desc span {
	margin-left: 10px;
	font-size: 1.1em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

.rev-desc span span{
	border-left: 1px solid #fff;
	padding-left: 5px;
}

.rev-desc h3{
	margin-top: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.35em;
	letter-spacing: 0.05em;
}
.rev-desc h3 span{
	border-left: 2px solid #fff;
	padding-left: 10px;
}

.rev-desc p{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300 !important;
	font-size: 1.05em;
	margin-top: 20px;
}

@media (min-width: 768px){
.rev-desc p{
	padding: 0 100px;
}
}

/* Registration area */

#reg-area {
	background-color: rgba(0,0,0,.9);
}

#reg-area>div {
	padding-top: 80px;
	padding-bottom: 60px;
}

#reg-area>div>div>div {
	text-align: center;
	padding-bottom: 10px;
}

#reg-area>div>div>div:first-child{
	border-right: 1px solid #e0e0e0;
}

#reg-area>div>div>div h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	margin-bottom: 0px;
	letter-spacing: 0.05em;
	color: #fff;
}

#reg-area>div>div>div p{
	color: #505050;
	letter-spacing: 0.22em;
	text-shadow: 1px 1px 2px #000;
}

#reg-area .btn-reg {
	background-color: #ffcc00;
	padding: 5px 40px;
	margin-top: 20px;
	font-weight: 700!important;
	font-size: 1.5em;
	color: #fff;
}

#reg-area .btn-find.focus, #reg-area .btn-find:focus, #reg-area .btn-reg:hover {
	color: #ffcc00;
	background-color: #fff;
	border: 1px solid #ffcc00;
}

/* Select City Bar */

.city-select {
	text-align: center;
	padding: 50px 0;
}

.city-select .form-control{
	display: inline-block;
	width: 70%;
	height: 50px;
	font-size: 1.5em !important;
	font-weight: 700 !important;
}