<div id="top-bzns">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
				  <li role="presentation" ng-class="{active:$index==1}" ng-repeat="c in categories">
				  	<a href="#changeCtg" target="_self">{{c}}</a>
				  </li>
				</ul>
			</div>
			<div class="col-md-10">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <panel-profile bzns-obj="b" ng-repeat="b in bznsData"></panel-profile>
				</div>
			</div>
		</div>
	</div>
</div>